* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 80px/20px;
    font-weight: 400;
    color: black;
    width: 100%;
}

main {
   width: 1440px;
   margin: 0 auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .4s;
}

a:hover {
    color :rgb(64, 100, 6);
}

#header-section {
    padding: 25px 0px 40px;
}


.header-section-container {
    padding: 20px;
}

.button-group {
    padding: 19px 26px;
    border-radius: 10px;
    color: #fff;
    background: rgb(171, 238, 171);
    font-size: inherit;
    font-weight: inherit;
}

/* Header */

.header {
    display: flex;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.header-nav {
    display: flex;
    justify-content: left;
    width: 50%;
}

.header-nav__list {
    display: flex;
    gap: 48px
}

#top-button {
    display: flex;
}

.logo-text a {
    display:block;
    margin-right: 30px;
    margin-left: 20px;
    color: #EE8313;
}

.btn {
    text-decoration: none;
    color: inherit;
}

.btn:hover {
   color: green;
}

/* Banner */

#banner-section {
    padding-top: 160px;
    position: relative;
}

.banner-section-container {
    display: flex;
    background: url('../img/pose_7.png') no-repeat scroll right 0 transparent;
    background-size: 26% 120% ;
    width: 100%;
}

.banner {
    width: 600px;
}

.banner-headline {
    font-size: 30px;
    font-weight: 500;
    line-height: 48px;
}

.banner-button__group {
    margin-top: 20px;
}

.banner-btn {
    padding: 19px 26px;
    border-radius: 10px;
    background: rgb(171, 238, 171);
    font-size: inherit;
    font-weight: inherit;
    color: #fff;
    display: inline-block;
}

/* Small-logo */

.small-logo-container {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

.small-logo {
    text-align: center;
    margin: 130px auto 0px auto;
    font-size: 18px;
    font-weight: 400;
    width: 80%;
}

.small-logo-img {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.small-logo-img li {
    position: relative;
}

.small-logo-img li:before {
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: -61px;
}

#p1:before {
    content: url('../img/p1.svg')
}

#p2:before {
    content: url('../img/p2.svg')
}

#p3:before {
    content: url('../img/p3.svg')
}

#p4:before {
    content: url('../img/p4.svg')
}

#p5:before {
    content: url('../img/p5.svg')
}


/* Subscription */

.subscription-section-container {
    display: flex;
    justify-content: right;
    margin-top: 140px;
    background: url('../img/pose_11.png') no-repeat scroll 0 10% transparent;
    background-size: 10% 100%;
}

.subscription {
    width: 460px;
}

.subscription-headline {
    margin: 30px 0 40px 0;
}

.subscription-text {
    line-height: 34px;
}

.subscription-link a {
    color: #00FFFF;
    margin-left: 20px;
}

.subscription-link a:hover {
    color: red;
}

/* Metrics */

.metrics-section-container {
    display: flex;
    background: url('../img/pose_4.png') no-repeat scroll right 0 transparent;
    background-size: 7%;
    margin-top: 140px;
}

.metrics {
    width: 460px;
}

.metrics-headline {
    margin: 30px 0 40px 0;
}

.metrics-text {
    line-height: 34px;
}

.metrics-link a {
    position: relative;
}

.metrics-link a {
    position: absolute;
    color: #00FFFF;
    bottom: -700px;
    left: 270px;
}

.metrics-link a:hover {
    color: red;
}

/* Metrics-link__notify */

.metrics-link__notify {
    display: flex;
    margin-top: 180px;
}

.metrics-strong {
    font-size: 16px;
}

.metrics-text__notify {
    font-size: 14px;
    margin-top: 10px;
    width: 300px;
}

.metrics-link-text {
    display: flex;
    justify-content: space-between;
    gap: 124px;
}

.metrics-link-text li {
    position: relative;
}

.metrics-link-text li::before {
    background-repeat: no-repeat;
    position: absolute;
    left: 0px;
    right: 0px;
    top: -75px;
    margin-bottom: 40px;
}

#card1::before {
    content: url('../img/card1.svg');
}

#card2::before {
    content: url('../img/card2.svg');
}

#card3::before {
    content: url('../img/card3.svg');
}


/* #card1 {
    padding-top: 75px;
    background: url('../img/card1.svg') no-repeat scroll 5% 0 transparent;
}

#card2 {
    padding-top: 75px;
    background: url('../img/card2.svg') no-repeat scroll 5% 0 transparent;
}

#card3 {
    padding-top: 75px;
    background: url('../img/card3.svg') no-repeat scroll 5% 0 transparent;
}*/


/* Right-plan-section */

.right-plan-container {
    display: flex;
    align-items: center;
    margin-top: 150px;
}

.right-plan-headline {
    width: 520px;
}

.right-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.right-plan-link {
    padding: 10px 15px;
    background-color: #EE8313;
    border-radius: 10px;
    font-size: 18px;
}

.right-plan-button {
    font-size: 18px;
    padding: 12px 16px;
    background: rgb(238, 233, 233);
    color: blue;
    display: flex;
    width: 15%;
    justify-content: space-around;
}


/* footer-section */

.footer-container {
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.footer {
    border-radius: 10px;
    background-color: #F8F8F8;
    line-height: 50px;
    width: 250px;
    text-align: center;
}

.footer-headline {
    font-size: 36px;
}

.footer-text {
    font-size: 20px;
}

.footer-link {
    font-size: 18px;
    padding: 14px 16px;
    background: rgb(238, 233, 233);
    color: blue;
    cursor: pointer;
}

/* Footer-second */

.footer-second {
    border-radius: 10px;
    background-color: #F8F8F8;
    line-height: 50px;
    width: 250px;
    text-align: center;
}

.footer-link__second {
    font-size: 18px;
    padding: 14px 16px;
    background: rgb(238, 233, 233);
    color: blue;
    cursor: pointer;
}

/* Footer-third */

.footer-third {
    border-radius: 10px;
    background-color: #f78b43;
    line-height: 50px;
    width: 250px;
    text-align: center;
}

.footer-link__htird {
    font-size: 18px;
    padding: 14px 16px;
    background: rgb(143, 5, 5);
    color: #fff;
    cursor: pointer;
}

